<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="head_view">
		<title>ERP</title>
	
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		
		<!-- Custom fonts for this template-->
		<link href="/static/theme/vendor/css/all.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="/static/theme/css/sb-admin-2.min.css" rel="stylesheet">
		
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		
		<!-- Bootstrap core JavaScript-->
<!-- 		<script src="/static/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
		
		<!-- Custom scripts for all pages-->
<!-- 		<script src="js/sb-admin-2.min.js"></script> -->

		<script src="/static/common/js/common.js"></script>
	</th:block>
</html>