<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- header -->
	<th:block th:replace="fragment/head :: head_view"></th:block>
	<body id="page-top">
		<div id="wrapper">
			
			<!-- ## header s ## -->
			<th:block th:replace="fragment/header :: header_view"></th:block>
			<!-- ## header e ## -->
			<div class="main-panel">
				<!-- ## contents s ## -->
				<th:block layout:fragment="content_body_view"></th:block>
				<!-- ## contents e ## -->
			</div>
			
		</div>
		<!-- ## footer s ## -->
	<!-- 	<th:block th:insert="fragment/footer :: footer_view"></th:block> -->
		<!-- ## footer e ## -->
	</body>
</html>